<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Dose</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <header>

        <!-- navigation -->
        <nav>
            <ul>
                <li>Homepage</li>
                <li>Dashboard</li>
                <li>Login</li>
            </ul>
        </nav>
        <!-- navigation -->

        <!-- title -->
        <div id="web-title-div">
            <h1 id="web-title">The Daily Dose</h1>
        </div>
        <!-- title -->

    </header>


    <main>

        <div class="post">
            <div class="post-title">

                <h2>Why Lorem Ipsum Matters</h2>

            </div>

            <div class="post-content">

                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nobis aut maiores voluptatem dolorum doloremque. Labore id iste provident, impedit accusamus tenetur expedita dolor culpa consequatur unde earum commodi? At?</p>

            </div>

        </div>

        <div class="post">
            <div class="post-title">

                <h2>Why Lorem Ipsum Matters</h2>

            </div>

            <div class="post-content">

                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nobis aut maiores voluptatem dolorum doloremque. Labore id iste provident, impedit accusamus tenetur expedita dolor culpa consequatur unde earum commodi? At?</p>

            </div>

        </div>







    </main>


    
</body>
</html>