<main>
    {{#each posts}}
    <div class="post">
        <div class="post-title">
            <h2>{{title}}</h2>
        </div>
        <div class="post-content">
            <p class="content">{{content}}</p>
        </div>
    </div>
    {{/each}}

    <div id="create-btn-div">
        <a href=""><button id="create-btn">Create Blog Post</button></a>
    </div>

    <h2>You have visited this site {{countVisit}} times</h2>
</main>