<main>
        <div class="post">
            <div class="post-title">
                <h2>Why Lorem Ipsum Matters</h2>
            </div>
            <div class="post-content">
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nobis aut maiores voluptatem dolorum doloremque. Labore id iste provident, impedit accusamus tenetur expedita dolor culpa consequatur unde earum commodi? At?</p>
            </div>
        </div>
        <div class="post">
            <div class="post-title">
                <h2>Why Lorem Ipsum Matters</h2>
            </div>
            <div class="post-content">
                <p class="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti nobis aut maiores voluptatem dolorum doloremque. Labore id iste provident, impedit accusamus tenetur expedita dolor culpa consequatur unde earum commodi? At?</p>
            </div>
        </div>
    </main>