<div id="login-container">

    <div id="login-title-container">
        <h1 id="login-title">Login</h1>
    </div>

    <div id="login-div">
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Email" required>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password" required>
            <button id="login-btn" type="submit">Login</button>
        </form>
    </div>

    <div>
    <a href="/signup">Don't have an account? Sign up here!</a>
    </div>

</div>